/* @import "@bootstrap/scss/bootstrap.scss"; */
/* @import "@bootstrap/scss/variables"; */
/* @import "@bootstrap/scss/mixins"; */

.btn.mbtn-accent {
    background-color: #dc3545 !important;
}

.btn.mbtn-accent:hover {
    filter: brightness(1.25);
}

.breadcrumb-item.active {
    color: #dc3545 !important;
}
